.job-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  width: 100%;
  margin: auto;
}

.jobs-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.job-details-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 148px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .job-details-error-view-container {
    margin-top: 80px;
    margin-left: 160px;
    padding-left: 90px;
    width: 70%;
    padding-bottom: 30px;
  }
}

.jobs-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .jobs-failure-img {
    width: 400px;
    height: 350px;
  }
}

.jobs-failure-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-heading {
    font-size: 24px;
  }
}

.jobs-failure-text {
  text-align: center;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .jobs-failure-text {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

.failure-button {
  background-color: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: #f1f5f9;
  width: 100px;
  height: 34px;
}

.job-details-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  max-width: 1110px;
  padding: 25px;
}

.job-details-success-container {
  background-color: #272727;
  background-size: cover;
  border-radius: 16px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  width: 280px;
  padding: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .job-details-success-container {
    padding-top: 40px;
    width: 1060px;
    max-width: 1110px;
  }
}

.company-job-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.thumbnail {
  height: 60px;
  width: 60px;
}

.job-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
}
.title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 0px;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.star {
  color: #fbbf24;
  height: 20px;
  width: 20px;
}
.rating {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 5px;
  padding-left: 5px;
  text-align: center;
}

.location-employment-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.location-employment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 10px;
}

.map {
  height: 20px;
  width: 20px;
  color: #f8fafc;
}

.location {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: #f8fafc;
  margin-top: 5px;
  padding-left: 5px;
  text-align: center;
}

.employment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.job {
  height: 20px;
  width: 20px;
  color: #f8fafc;
}

.employment-type {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: #f8fafc;
  margin-top: 5px;
  padding-left: 5px;
  text-align: center;
}

.package {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #f8fafc;
  margin-top: 5px;
  padding-left: 5px;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  border-width: 0px;
  color: #cbd5e1;
  background-color: #cbd5e1;
}

.job-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading-company-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company-navigate-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  text-decoration: none;
}

.visit-link {
  text-decoration: none;
}

.description {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #f8fafc;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .description {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
  }
}

.job-description {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  color: #f8fafc;
  text-align: left;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .job-description {
    font-size: 14px;
    font-weight: 400;
  }
}

.similar-products-heading {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .similar-products-heading {
    font-size: 22px;
    font-weight: 500;
  }
}

.similar-products-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.skills-heading {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .skills-heading {
    font-size: 22px;
    font-weight: 500;
  }
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0px;
}

.life-at-company-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.life-at-company-heading {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .life-at-company-heading {
    font-size: 22px;
    font-weight: 500;
  }
}

.description-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .description-image-container {
    flex-direction: row;
  }
}

.life-company-description {
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #f1f5f9;
  align-self: flex-start;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .life-company-description {
    font-size: 15px;
    line-height: 2.3;
    width: 600px;
    padding-right: 20px;
  }
}

.company-life-image {
  height: 150px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .company-life-image {
    height: 250px;
    width: 300px;
  }
}
