.home-app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  background-size: cover;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .home-app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    padding-top: 96px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
    width: 700px;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 48px;
    text-align: left;
  }
}

.home-description {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: #f1f5f9;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 24px;
    text-align: left;
  }
}

.find-jobs-button {
  background-color: #6366f1;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400px;
  line-height: 16px;
  color: #f8fafc;
  width: 90px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .find-jobs-button {
    width: 110px;
    height: 38px;
    font-weight: 16px;
    font-weight: 500;
  }
}
