.login-form-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #272727;
  background-size: cover;
  flex-shrink: 0;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 350px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
  }
}

.website-logo {
  height: 40px;
  width: 90px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 155px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.input-label {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0px;
  line-height: 16px;
  color: #f8fafc;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #7e858e;
  color: #f8fafc;
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  margin-top: 5px;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #7e858e;
  color: #f8fafc;
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  margin-top: 5px;
}

.login-button {
  background-color: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  height: 40px;
}

.error-message {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  font-weight: 400px;
  color: #ff0b37;
  margin-top: 3px;
  margin-bottom: 0px;
  align-self: start;    
}
